body {
  background: rgb(252,251,250);
}

.top {
  width: 800px;
  text-align: center;
  margin: 100px 200px 0px;
  padding: 100px 200px 0px;
}

.bottom {
  width: 800px;
  text-align: center;
  margin: 0px 50px 0px;
}

.container {
  text-align: center;
  padding: 0px 200px 0px;
}

.conclusion {
  text-align: center;
}
.twitter {
  text-align: center;
}

h3 {
  font-size: 30px;
}

.kmain {
  text-align: center;
  margin: 100px 200px 0px;
  padding: 50px 200px 0px;
  border-radius: none;
}

table {
  border: none;
}

.modoru {
  text-align: center;
  margin-left: 130px;
  margin-top: 5px;
}